@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --profile-background-color: #81d4fa;
    --navigation-bar-background-color: #03a9f4;
}

body,button,input{
    font-family: 'Roboto', sans-serif;
}