/*
.mentor-container {
  display: b;
  padding: 2rem 6rem;
  gap: 10rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}


.picture {
  display: flex;
  margin-right: 20px;
}

.mentor-profile {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  
}

.mentor-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  line-height: 2;
}

.full-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

.Education-work {
  margin-bottom: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-header span {
  font-size: 18px;
  font-weight: bold;
}

.section-header button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.section-header button:hover {
  background-color: #3e8e41;
  transform: translateY(-2px);
}

textarea, input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info-text {
  font-size: 16px;
}

.contact-details {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.phoneNumber, .linkedIn, .gitHub {
  margin-bottom: 20px;
}

.phoneNumber span, .linkedIn span, .gitHub span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.skills-container {
  margin-top: 10rem;
  position: absolute;
  left: 50%;
}

.skills {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
}

.programming {
  font-size: 24px;
  margin-right: 10px;
}

.skill-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.mentor-container button {
  background-color: #555;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.mentor-container button:hover {
  background-color: #3e8e41;
  transform: translateY(-2px);
}
*/

.mentor-profile-img {
  width: 400px;
  height: 400px;
}