.mentor-container {
    display: flex;
    padding: 2rem 4rem;
    gap: 10rem;
}

.mentor-container .mentor-profile {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
}

.contact-details-container {
    line-height: 2;
}

.mentor-info {
    line-height: 2;
    margin-bottom: 2rem;
}

.skills-container {
    margin-top: 3rem;
}

.skill-info {
    display: flex;
    gap: 1rem;
}

.skill-description {
    margin-bottom: 3rem;
}