@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

#landing-container {
    display: flex;
    justify-content: space-evenly;
}

#landing-container .about-container{
    width: 50%;
}
#landing-container .mentors-lookup-container{
    width: 50%;
}


/*Add Media to controll flex-direction ROW => COLUMN*/