#skills-search-form-container .search-skills{
    position: relative;
    width: 100%;
}

#skills-search-form-container .search-skills .menu{
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid lightgray;
}
#skills-search-form-container .search-skills .menu .menu-item{
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#skills-search-form-container .search-skills .menu .menu-item:hover{
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}